.body{
    margin: 0;
    padding: 0;;
}
.head{
    width: 100%;
    background-color: red;
    position: fixed;
    justify-content: center;
    align-items: center;
}
.split-container {
    display: flex;
    height: auto;
  }
  
  .left {
    width: 20%;
    background-color: rgb(238, 86, 86);
    padding-top:10px;
    height: 100vh;
  }
  .right{
    width: 20%;
    background-color: rgb(179, 53, 53);
    padding-top:10px;
    height: 100vh;
  }
  .middle {
    width: 60%;
    background-color: #ffffff;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  